@import url('https://fonts.googleapis.com/css?family=Muli|Amatic+SC:700|Indie+Flower');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css');


.card {
  background-color: #fcb315;
  background-size: cover;
  box-shadow: 0px 0px 5px snow;
  position: absolute;
  height: 500px;
  width: 368px;
  margin: -8em auto;
  border-radius: 10px;
  z-index: 100;
}



.animate {
  transition: transform .3s;
}

/* .alert {
  width: 45%;
  height: 10%;
  position: absolute;
  top: 0;
  z-index: 9999;
  opacity: 0;
  transition: opacity .5s;
  color: white;
  vertical-align: middle;
  line-height: 3rem;
} */
