@import url('https://fonts.googleapis.com/css?family=Muli|Amatic+SC:700|Indie+Flower');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css');


.card {
  background-color: #fcb315;
  background-size: cover;
  box-shadow: 0px 0px 5px snow;
  position: absolute;
  height: 600px;
  width: 368px;
  margin: -8em auto;
  border-radius: 10px;
  z-index: 100;
  cursor: pointer;
}



.animate {
  transition: transform .3s;
}
